#brand-logo {
  font-size: 34px;
}

#app-navbar {
  z-index: 10;
  background: linear-gradient(120deg, #2b2b2b, #101010);
}

#brand-logo {
  width: 50px;
}

#logo {
  width: 170px;
}

.display-5 {
  font-size: 2.5rem;
  font-weight: 100;
  line-height: 2;
}

#ebec-text {
  margin-left: 10px;
  color: rgb(255,214,0);
}

#izmir {
  margin-top: 15PX;
  margin-left: 3px;
  color: rgb(164,160,125);
}

@media (max-width: 1200px) {
  .navbar-brand.navbar-brand-div {
    text-align: center;
  }
}

@media (max-width: 1200px) {
  #izmir {
    margin-top: -20px;
  }
}

#cards {
  margin: 2%;
}

.card.card-dark {
  background-color: rgb(12,12,12);
}

@media (min-width: 500px) {
  .scroller {
    font-size: 1.3rem;
    font-family: 'Alata';
    transition: 500ms;
    border-radius: 20px;
  }
}

.scroller:hover {
  background-color: rgb(70,70,70);
  transition-duration: 500ms;
  cursor: pointer;
  border-radius: 40px;
}

.scroller:active {
  background-color: rgb(208,208,208);
  transition-duration: 200ms;
  cursor: pointer;
  border-radius: 50px;
}

.card-dark {
  background-color: rgb(32,32,32);
}

#card-dark {
  margin: 25px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  background-color: rgb(26,26,26);
  box-shadow: 0px 5px 7px rgba(0,0,0,0.5);
  border-radius: 20px;
}

.banner {
  margin-top: 68px;
  border-radius: 20px;
}

