.best-izmir-nav {
  background: transparent;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  .navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-links {
    padding: 25px;
    display: flex;
    height: inherit;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    .nav-link {
      font-weight: bold;
      font-size: 1.6rem;
      color: #fff;
      text-decoration: none;
      transition: color 0.2s;
      margin: 0 25px;
      &.selected {
        color: var(--yellow);
      }
      &:hover {
        color: var(--yellow);
      }
    }
  }
}
