.hero {
  height: 100vh;
  background: url('/static/cover.jpg') no-repeat center center / cover;
  position: relative;
  color: #fff;
  * {
    z-index: 1;
  }
  &::before {
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba($color: #000000, $alpha: 0.7);
  }
  .hero-content {
    display: flex;
    max-width: var(--max-width);
    margin:0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: inherit;
    .hero-title {
      font-size: min(3.5vw,4.5rem);;
    }
    .hero-subtitle {
      font-size: min(2.5vw,3rem);
    }
  }
}
