.footer {
  background: #333;
  color: var(--white);
  .footer-content {
    display: grid;
    padding: 30px;
    grid-template-columns: 1fr 1fr;
    .social {
      display: flex;
      gap: 15px;
      justify-content: center;
      a {
        transition: color 0.5s;
      }
      a:hover {
        color: var(--yellow);
      }
    }
    .copyright {
      font-size: 16px;
      text-align: right;
    }
  }
}
