@import '../../styles/mixins.scss';
.footer {
  background: #333;
  color: var(--white);
  .footer-content {
    display: flex;
    padding: 30px;

    justify-content: space-between;
    @include md {
      flex-direction: column;
      gap:15px;
    }
    .social {
      display: flex;
      gap: 15px;
      justify-content: center;
      a {
        transition: color 0.5s;
      }
      a:hover {
        color: var(--yellow);
      }
    }
    .copyright {
      font-size: 16px;
      text-align: right;
      @include md {
        text-align: center;
      }
    }
  }
}
