@import './normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');
:root {
  --yellow: #FAA519;
  --blue: #1973BE;
  --green: #69CD28;
  --black: #333;
  --white: #eee;
  --max-width: 117rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: var(--max-width);
  padding: 0 8rem;
  margin: 0 auto;
}
html {
  font-family: 'Manrope', sans-serif;
  font-display: swap;
  background-color: var(--white);
  font-size: 10px;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  width: 100%;
}
